<div class="page-header">
  	<h4>New User?</h4>
</div>
<p>Click here to create a new account.</p>
<a href=<%= signup_path %> class="btn">Sign Up</a>
<br>
<br>           

<div class="page-header">
  	<h4>Forgotten Password?</h4>
</div>
<p>Click here to reset your password.</p>
<a href=<%= new_password_reset_path %> class="btn">Reset</a>
<br>
<br>