<%- model_class = Article -%>

	<div class="page-header">
  		<h2><%= @article.title %></h2>
		<p><%= @article.created_at %></p>
	</div>

  	<p><%= @article.body %></p>

	<div class="form-actions">
		<a href=<%= articles_path %> class="btn">Back to the Blog</a>
	</div>
