<div class="page-header">
  	<h3>Cart Summary</h3>
</div>
<h4>Total: <%= "$" + number_with_precision(@total_cost, :precision => 2) %></h4>
<br>

<a href="<%= review_order_path %>" class="btn btn-success">Checkout >></a>
