<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Checkout</h2>
			</div>
			
			<p><b>All payment options are currently disabled.</b></p>
			<p>Once you confirm your order, you will be sent an email containing links to download each item in your cart.</p>
			<p>The links will stay active for 24 hours.</p>
			
			<div class="form-actions">
				<a href="<%= shopping_cart_path(@cart) %>" class="btn btn-primary"><< Shopping Cart</a>
			</div>
		</div>
		
		<div class="span3" align="center">
			<%= render "checkout_sidebar" %>
		</div>		
	</div>
</div>
