<h4>Manage your ESG subscriptions.</h4><br \>

<helper href="#" class="btn btn-info pull-right">HINT</helper>

	<%= f.input :blog_subscription, label: "ESG Blog", as: :select, default: "Yes" %>
	<%= f.input :resources_subscription, label: "Resource Centre Updates", as: :select, default: "Yes" %>
	
<script>
  $('helper').popover({
		placement: 'left',
		trigger: 'click',
		title: "<h4>Updating your Subscriptions</h4>",
		content: "<b>ESG Blog:</b> Subscribing to the blog will entitle you to receipt of new blog posts delivered directly to your inbox. <br><br><b>Resource Centre Updates:</b> Subscribing to the Resource Centre will entitle you to receipt of details of new Resources, as they become available for download.",
		html: 'true'
	});
</script>