<h4>Manage your ESG subscriptions.</h4><br \>
	<%= f.input :blog_subscription, label: "ESG Blog", as: :select, default: "Yes" %>
	<%= f.input :resources_subscription, label: "Resource Centre Updates", as: :select, default: "Yes" %>