<h4>Change your avatar.</h4><br>

<helper href="#" class="btn btn-info pull-right">HINT</helper>

<dl class="dl-horizontal">
	<dd><%= image_tag(@user.avatar.url(:profile)) %></dd>
</dl>	

	<%= f.input :avatar, as: :file, label: false, :input_html => { :accept => "image/*" } %>


<script>
  $('helper').popover({
		placement: 'left',
		trigger: 'click',
		title: "<h4>Updating your Avatar</h4>",
		content: "To update your avatar image, click the \"Choose File\" button to the left and select an image from your computer. <br><br>The allowable file types are: <i><b>jpeg, jpg, gif and png.</b></i> <br><br>The image will automatically be resized and cropped, so make sure your face is in the middle!",
		html: 'true',
		container: 'body'
	});
</script>