<h4>Change your account password.</h4><br>

<helper href="#" class="btn btn-info pull-right">HINT</helper>

	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	
	
<script>
  $('helper').popover({
		placement: 'left',
		trigger: 'click',
		title: "<h4>Updating your Password</h4>",
		content: "Your password can be any combination of uppercase or lowercase letters, numbers or symbols.   The password you enter in both password fields must match.",
		html: 'true'
	});
</script>