<div class="page-header">
	<h3>1. Resource Centre</h3>
</div>
<h4>1.1 What currency are the Resource Centre prices quoted in?</h4>
<p>All prices are quoted in AUD.  In your Shopping Cart you can select a difference currency to convert to, and Paypal will make the appropriate conversions at Checkout.</p>