<div class="page-header">
	<h3>1. Resource Centre</h3>
</div>
<h4>1.1 What currency are the Resource Centre prices quoted in?</h4>
<p>All prices are quoted in USD.  In your Shopping Cart you can select a different currency to convert to, and Paypal will make the appropriate conversion at Checkout.</p>
<br>

<h4>1.2 How can I view my previously purchased resources?</h4>  
<p>A complete history of your purchases in available in your Profile.  Once logged in, this is accessible via the link in the top, right-hand corner of the screen.</p>