<div class="page-header">
	<h3>Account</h3>
</div>
<a href="login" class="btn btn-primary">Login</a>
<a href="signup" class="btn btn-primary">Sign Up</a>
<br>

<div class="page-header">
	<h3>Contact Us</h3>
</div>
<p>You can contact us here, we'd love to hear what you think!</p>
<a href="contact" class="btn btn-primary">Contact Us</a>
<br>
<br>