<div class="page-header">
	<h4>Popular Resources</h4>       
</div>

<% @popular_resources.each do |resource| %>
	<% unless resource.image_1.blank? %>
		<a href="<%= category_resource_path(resource.category_id, resource.id) %>">
			<dd><%= image_tag resource.image_1_url(:icon).to_s, :class => "img-polaroid" %></dd>
		</a>
	<% end %>
	<h5><%= link_to resource.name, category_resource_path(resource.category_id, resource.id) %> - Downloads: <%= resource.number_of_downloads %></h5>
<% end %>