<div class="page-header">
	<h4>Resource Categories</h4>           
</div>

<% tag_cloud Resource.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag| %>
 	<h5><%= link_to tag.name, category_tag_path(tag.name) %></h5>
<% end %>