<div id="container">	
	<div class="row">

   	<div class="span9">
			<%= render "faq_questions" %>	
		</div>
		
		<div class="span3" align="center">
			<%= render "faq_sidebar" %>
		</div>
	</div>
</div>
