<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Frequently Asked Questions</h2>
			</div>
			
			<%= render "faq_questions" %>	
		</div>
		
		<div class="span3" align="center">
			<%= render "faq_sidebar" %>
		</div>
	</div>
</div>
