<div id="container">	
	<div class="row">

		<div class="page-header" align="left">
			<h2>Welcome to Engineering Survival Guide</h2>
		</div>
		
		<div class="span9">
			<%= render "featured_articles" %>
		</div>

		<div class="span3" align="center">
			<%= render "index_sidebar" %>
		</div>
	</div>
</div>