<div id="container">	
	<div class="row">

		<div class="page-header" align="left">
			<h2>Welcome to Engineering Survival Guide</h2>
		</div>
		
		<div class="span6">
			<%= render "featured_articles" %>
		</div>

		<div class="span6">
			<%= render "featured_resources" %>		
		</div>

		<div class="span12" align="center">
			<div class="page-header">
				<h3>Contact Us</h3>
			</div>
			<p>You can contact us here, we'd love to hear what you think!</p>
			<a href="contact" class="btn btn-primary">Contact Us</a>
			<br>
			<br>
		</div>
	</div>
</div>