<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Resource Centre</h2>
			</div>
		</div>
		
		<div class="span3" align="center">
			<div class="page-header">
			  	<h3>Most Requested Resources</h3>
			</div>
			<p>Vote for your favourites to get them added to the Resource Centre first!</p>

		</div>
	</div>
</div>
		