<div class="page-header">
  	<h3>Confirm Order</h3>
</div>
<h4>Total: <%= "$" + number_with_precision(@total_cost, :precision => 2) %></h4>
<br>

<%= f.button :submit, :value => "Continue", :class => "btn btn-danger" %>	