<div class="page-header">
  	<h3>Confirm Order</h3>
</div>

<%= submit_tag :submit, :value => "Submit >>", :class => "btn btn-danger" %>                                                                                     
<br>
<br>