<div class="page-header">
  	<h3>Confirm Order</h3>
</div>
                                                                               
<%= f.button :submit, :value => "Submit >>", :class => "btn btn-danger" %>	     
<br>
<br>