<div class="page-header">
  	<h3>Confirm Order</h3>
</div>
<a href="#confirm-order" role="button" class="btn btn-danger" data-toggle="modal">Confirm >></a>
<br>
<br>          


<!-- Modal -->
<div id="confirm-order" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
   	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Confirm Order</h3>
  	</div>
 	
	<div class="modal-body">
		<div id="spinner">
			<h4><i class="icon-spinner icon-spin icon-large icon-3x"></i> Processing..</h4>
			<br>                                                  
			<br>
		</div>   
		
		<%= f.button :submit, :value => "Confirm", :class => "btn btn-danger" %>
		<a href="" role="button" class="btn btn-primary" data-dismiss="modal">Cancel</a>
	</div>
</div>
<br>    


<script type="text/javascript">
	$('#confirm-order').on('show', function () {
		$(this).find('.modal-body').css({width:'auto',
	                               height:'auto', 
	                              'max-height':'100%'});
	});                                          
</script>

        
<script type="text/javascript">
	function showSpinner() {
	  	$('#spinner').show();
	}
</script>