<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>4. Order Completed!</h2>
			</div>

			<p>You will be sent an email shortly, containing links to download each item in your cart.</p>
			<p>The links will stay active for 24 hours.</p>
			<br>


			
			<div class="span3" align="center">

			</div>
		</div>		
	</div>
</div>