<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Payment Failed!</h2>
			</div>
                   
			<p>An error has occurred with your payment details.</p>
			<p>Please contact us to process your order.</p>
		</div>
		<div class="span3" align="center">

		</div>		
	</div>
</div>