<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Payment Error!</h2>
			</div>
                   
			<p>We're sorry, an error has occurred with your payment that our automated system cannot handle.</p>
			<p>If you would like to re-enter your payment details, please click <strong>Return</strong>.</p>
			<p>Alternatively, please send us a Support Ticket so we can manually process your order, via the <strong>Contact</strong> button and quote <strong>Order No: #<%= @order.id %></strong>.</p>
			  
		  	<div class="form-actions"> 			
				<a href="<%= new_order_path %>" class="btn btn-warning"><< Return</a> 
			</div>
			
		</div>     
		
   	<div class="span3" align="center">		
			<%= render "failure_sidebar" %>
		</div>
	</div>
</div>