<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Payment Failed!</h2>
			</div>
                   
			<p>An error has occurred with your payment details.</p>
			<p>Please return to re-enter your payment details, or contact us to process your order.</p>     
			  
		  	<div class="form-actions"> 			
				<a href="<%= new_order_path %>" class="btn btn-warning"><< Return</a> 
			</div>
			
		</div>     
		
   	<div class="span3" align="center">		
			<%= render "failure_sidebar" %>
		</div>
	</div>
</div>