<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>2. Review Order Details</h2>
			</div>         
			
			<br>
			<p><b>TODO: Display Shopping Cart Contents.</b></p>  
                    
		  	<div class="form-actions">
				<a href="<%= shopping_cart_path(@cart) %>" class="btn btn-primary"><< Shopping Cart</a>      
		  	</div>
		</div>
	
		<div class="span3" align="center">
       	<%= render "review_sidebar" %>
		</div>		                                       
	</div>
</div>
