<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h3>SEARCHING FOR: <span class="label label-info"><%= @search_term %><span></h3>	
			</div>
			
			<table class="table table-striped">
				<% @resources.each do |resource| %>
					<tbody>
						<%= render :partial => "categories/display_resource", :locals => { :resource => resource } %>
					</tbody>
				<% end %>
			</table>
			
			<a href="<%= categories_path %>" class="btn btn-info">Clear Search</a>	
		</div>
		
		<div class="span3" align="center">
			<%= render "categories/resources_sidebar" %>
		</div>
	</div>
</div>