/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self

 *= require bootstrap_and_overrides
 *= require bootstrap
 *= require bootstrap-responsive
 *= require dataTables/jquery.dataTables.bootstrap
 *= require blog_comments
 *= require articles
 *= require contacts
 *= require home
 *= require users
 *= require resources
 *= require orders
*/


/* Navbar Header Section */

.header {
	position: relative;
  padding: 0;
  background: #000000; /* Old browsers */
}
       
/* Top Navbar Navigation */ 

/*.navbar-static-top .navbar-inner {
	height: 10px;
}   */                        


/* Navbar Footer */   

html {
  position: relative;
  min-height: 100%;
}                     

.footer {
	padding-top: 100px; 
	text-align: center; 
}   

.footer h2 { 
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: bold;	
	font-size: 18px;
  line-height: 1.25;
	padding: 10px 10px 0 0;	
  text-transform: uppercase; 	
}  

.footer p { 
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;    
  color: #fff; 
	font-size: 14px;
  font-weight: bold;
  line-height: 1.25;
	padding: 10px 10px 5px 0;
}     

.footer .navbar{
  position: absolute; 
}        
                                        
.footer h2 a:link,
.footer h2 a:visited,
.footer h2 a:active { 
	color: #CBCBCB;
	text-decoration: none; 
}

.footer h2 a:hover { 
	color: #FFFFFF;      
	text-decoration: none;
}
