.blog-comments {
	width: 600px;
	max-width: 90%;
	height: 100px;
	max-height: 400px;
}

.search-field {
	width: 120px;
	max-width: 75%;
}

.blog-subscription-modal {
	max-width: 90%;
}

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}