// Place all the styles related to the BlogComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-links {
	text-align: center;
}

.hero-unit-articles {
  padding: 5px 35px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}