.resource-reviews {
	width: 600px;
	max-width: 90%;
	height: 100px;
	max-height: 400px;
}

.resource-preview-modal {
	max-width: 90%;
	height: 800px;
	max-height: 90%;
}

.resource-preview-modal-body {
	height: 750px;
	max-height: 75%;
}

.resources-subscription-modal {
	max-width: 90%;
	max-height: 90%;
}

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}
