.resource-preview-modal {
	max-width: 90%;
	height: 600px;
	max-height: 90%;
}

.resource-preview-modal-body {
	height: 500px;
	max-height: 75%;
}

.resources-subscription-modal {
	max-width: 90%;
	max-height: 90%;
}

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}
