.resource-reviews {
	width: 600px;
	max-width: 90%;
	height: 100px;
	max-height: 400px;
}

.resource-preview-modal {
	max-width: 90%;
	max-height: 90%;
}

.resource-preview-modal-body {
	max-height: 75%;
}

.resources-subscription-modal {
	max-width: 90%;
	max-height: 90%;
}

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}
                     

/* Rating Star Icons */

.rating-colour-medium {
	color: #FFCD1B;   
	text-shadow: 1px 1px 1px #41454D;
  font-size: 1.2em;
}                   

.rating-no-colour-medium {
	color: #9299A7; 
	text-shadow: 1px 1px 1px #CDCDCD; 	
  font-size: 1.2em;
}

.rating-colour-large {
	color: #FFCD1B;   
	text-shadow: 1px 1px 1px #41454D;
  font-size: 1.5em;
}

.rating-no-colour-large {
	color: #9299A7; 	
	text-shadow: 1px 1px 1px #CDCDCD; 
  font-size: 1.5em;
}