<div class="span4">
	<div class="hero-unit">
		<% if @tag_name != nil %>
			<h3><%= link_to category.name.pluralize, show_category_tag_path(category) %></h3>
		<% else %>
			<h3><%= link_to category.name.pluralize, category_path(category) %></h3>
		<% end %>
		<h4><%= pluralize(category.resources_count, 'Resource') %></h4>
		<h5><%= pluralize(category.number_of_downloads, 'Download') %></h5>
	</div>
</div>