<div class="row-fluid">
	<% if @tag_name != nil %> 
	
		<% @filtered_categories.each do |category| %>	
			<div class="span4" align="center">  
		   	<h5><%= link_to "#{category.name.pluralize} (#{category.resources_with_tag_count(@tag_name)})", show_category_tag_path(category) %></h5>
			</div>
		<% end %>

	<% else %>	   
	
		<% @categories.each do |category| %>	
			<div class="span4" align="center">     
		   	<h5><%= link_to "#{category.name.pluralize} (#{category.resources_count})", category_path(category) %></h5>
			</div>
		<% end %>    
	
	<% end %>
</div>