<div class="page-header">
  	<h3>Search by Topic</h3>
</div>
<% tag_cloud Resource.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag| %>
 	<h4><%= link_to tag.name, category_tag_path(tag.name) %></h4>
<% end %>
<br>
<br>

<div class="page-header">
  	<h3>Most Requested Resources</h3>
</div>
<p>Vote for your favourites to get them added to the Resource Centre first!</p>
<br>
<br>

<div class="page-header">
  	<h3>Request a Resource</h3>
</div>
<p>Request a resource that you need to get it produced!</p>
<br>
<br>

<div class="page-header">
  	<h3>Subscribe</h3>
</div>
<p>Sign up to receive updates of the latest resources directly to your inbox!</p>