<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Resource Centre - Home</h2>
			</div>
			
			<p>Welcome to ESG's Resource Centre.  Check out all of our resources available for you to download!</p>
			<br>
			
			<% @categories.each_with_index do |category, i| %>
				<div class="span4">
					<div class="hero-unit">
						<h3><%= link_to category.name.pluralize, category_path(category) %></h3>
						<h4><%= pluralize(category.resources_count(category), 'Resource') %></h4>
						<h5><%= pluralize(category.number_of_downloads(category), 'Download') %></h5>
					</div>
				</div>
			<% end %>
		</div>
		
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>
