<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Resource Centre</h2>
			</div>

			<table class="table">
				<% @categories.each do |category| %>
					<thead>
						<tr><td><h3><%= link_to category.name.pluralize, category_path(category) %></h3></td></tr>
					</thead>
					<tbody>
						<tr><td><h5><%= pluralize(category.resources_count(category), 'Resource') %></h5></td></tr>
					</tbody>	
				<% end %>
			</table>			
		</div>
		
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>
