<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Resource Centre</h2>
			</div>

			<table class="table">
				<% @filtered_categories.each do |category| %>
					<thead>
						<tr><td><h3><%= link_to category.name.pluralize, show_category_tag_path(category) %></h3></td></tr>
					</thead>
					<tbody>
						<tr><td><h5><%= pluralize(category.resources_with_tag(category, @tag_name).count, 'Resource') %></h5></td></tr>
					</tbody>			
				<% end %>
			</table>
			
			<div class="form-actions">
				<a href="<%= categories_path %>" class="btn btn-info">Remove Filter</a>	
			</div>
			
		</div>
		
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>