<div id="container">	
	<div class="row">

   	<div class="span9">
			<div class="page-header">
				<h2>Resource Centre - Home</h2>
			</div>
			
			<p>Welcome to ESG's Resource Centre.  Check out all of our resources available for you to download!</p>
			<br>
			
			<% if @tag_name != nil %>
					<% @filtered_categories.each do |category| %>
					<%= render :partial => "display_category", :locals => { :category => category } %>
				<% end %>
				<div class="span9">
					<div class="form-actions">
						<a href="<%= categories_path %>" class="btn btn-info">Remove Filter</a>		
					</div>
				</div>
			<% else %>	
				<% @categories.each_with_index do |category, i| %>
					<%= render :partial => "display_category", :locals => { :category => category } %>
				<% end %>
			<% end %>			
		</div>
		
		<div class="span3" align="center">
			<%= render "resources_sidebar" %>
		</div>
	</div>
</div>
