<% if @header_type %>
	<div class="header">
		<div class="container">
		
		   <% case @header_type %>
				<% when "Index" %>
					<h1>Engineering Survival Guide</h1>
				<% when "EBook" %>
					<h1>EBooks</h1>
				<% when "Resource Centre" %>
					<h1>Resource Centre</h1>
				<% when "Blog" %>
					<h1>The ESG Blog</h1>
				<% when "FAQ" %>
					<h1>FAQ</h1>
				<% when "Contact Us" %>
					<h1>Contact Us</h1>
		   <% end %>
			
		</div>
	</div>
<% end %>