<div class="header">
	<div class="container" align="center">

 		<a href="<%= root_path %>">
			<%= image_tag "ESG-Logo_Header_Image.png", :alt => "Engineering Survival Guide" %>
		</a>

	</div>
</div>         