<div class="footer">            
	<div class="navbar navbar-inverse navbar-fixed-bottom">   
		<div class="navbar-inner">     
			<div class="container">   
				<div class="row">
					<div class="span12">
						<h2><%= link_to "Sign Up", signup_path %> &nbsp &nbsp &nbsp <%= link_to "Contact", contact_path %></h2>
						<p>Copyright Engineering Survival Guide - v0.5.3</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>